@using System.Globalization
@using TheDevSpaceWebApp.ViewModels.Writer

@model WriterViewModel
@{
    ViewData["Title"] = "Writer";
}

<div class="container padding-top-70px padding-bottom-40px">
    <h2 class="text-center">
        @Model.Name
        <br />
        <span style="font-size: 17px">@Model.Role</span>
    </h2>

    <div class="row padding-top-40px">
        <div class="col-12 col-md-4">
            <div class="default-container-less-padding h-100">
                <h4 class="text-center"><strong>Description</strong></h4>
                <br />
                <br />
                <p class="text-center">@Model.Description</p>
            </div>
        </div>
        <div class="col-12 col-md-4 ">
            <div class="default-container-less-padding h-100">
                <h4 class="text-center"><strong>Age</strong></h4>
                <br />
                <br />
                <p class="text-center" style="font-size: 22px">@Model.Age</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="default-container-less-padding h-100">
                <h4 class="text-center"><strong>Written articles</strong></h4>
                <br />
                <br />
                <p class="text-center" style="font-size: 22px">@Model.Articles.Count</p>
            </div>
        </div>
    </div>

</div>

<hr />
<div class="padding-top-40px">

    <h3 class="text-center">@(Model.Name)'s articles</h3>
    <partial name="_Partials/ArticleList" model="Model.Articles"></partial>
</div>